<div class="row">
    <div id="login" class="col s6 offset-s3">

        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
            
        <h1>Задать пароль</h1>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Пароль</label>
                <span class="helper-text" data-error="Введите пароль"></span>
            </div>

            {{!-- три защиты для того, чтобы никто не мог подделать ни один из этих параметров --}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <button class="btn btn-primary" type="submit">Готово</button>
        </form>
    </div>
</div>
